// colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-black: rgb(0, 0, 0);
$color-white: #ffff;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light-1: #f7f7f7;

$color-gray-dark-1:#999;

$color-gray-dark-2:#333;

//font size

$default-font-size: 1.6rem;

// grid

$grid-width: 114rem;
$gutter-vertial: 8rem;
$gutter-vertial-small: 6rem;
$gutter-horizontal: 6rem;
